.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: red;
}

.app__body {
  display: flex;
  background-color: #D5BB9E;
  height: 100vh;
  width: 100vw;

  /* margin: 5rem; */
  justify-content: center;
}

.canadianFlagRight {
  position: absolute;
  width: 30vh;
  /* height: 10vh; */
  left: 5%;
  top: 5%;
}

.canadianFlagLeft {
  position: absolute;
  width: 30vh;
  /* height: 10vh; */
  right: 5%;
  top: 5%;
}

.parties {
  position: absolute;
  width: 100vh;
  height: 50vh;
  top: 0%;
  left: 25%;
}

.text__header {
  font-size: 3vh;
  margin: 3rem;
  color: black;
  position: absolute;

  bottom: 20%;

  font-family: Annie Use Your Telescope;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 115px;
  text-align: center;

  color: #FFFFFF;
}

.startButton {
  position: absolute;
  bottom: 10%;
  width: 20vh;
  height: 10vh;

  background-color: whitesmoke;
  border-width: 0.5rem;
  border-color: grey;
}

.startButton:hover {
  background-color: pink;
  border-color: white;
}

