.app {
  place-items: center;
}

.app__body {
  display: flex;
  background-color: #D5BB9E;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.canadianFlagLeft {
  position: absolute;
  /* width: 30vh; */
  height: 15vh;
  left: 5%;
  top: 5%;
}

.canadianFlagRight {
  position: absolute;
  /* width: 30vh; */
  height: 15vh;
  right: 5%;
  top: 5%;
}

.parties {
  position: absolute;
  width: 100vh;
  height: 50vh;
  top: 0%;
  left: 25%;
}

.parties2 {
  position: absolute;
  width: 100vh;
  height: 50vh;
  top: 5%;
  left: 25.5%;
  background-color: white;
  border-radius: 8vh;
  border-color: black;
  border-width: 300rem;
}

.rectangle {
  position: absolute;
  width: 105vh;
  height: 53vh;
  top: 3%;
  left: 24%;

  background: white;
  border: 5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8vh;
}

.text__header {
  font-size: 10vh;
  margin: 3rem;
  color: black;
  position: absolute;

  bottom: 20%;

  font-family: Annie Use Your Telescope;
  text-align: center;

  color: #FFFFFF;
}

.startButton {
  position: absolute;
  bottom: 10%;
  width: 20vh;
  height: 10vh;

  background-color: whitesmoke;
  border-width: 0.5rem;
  border-color: grey;
  /* border: 0.5rem solid grey; */

  border-radius: 1.5rem;
}

.startButton:hover {
  background-color: whitesmoke;
  /* border-color: rgb(83, 83, 83); */
  border: 0.5rem solid rgb(83, 83, 83);
}

