.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: red;
}

.app__body {
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(233, 19, 19, 0.75);

  margin: 5rem;
  justify-content: center;
}

.text__header {
  font-size: 3vh;
  margin: 3rem;
  color: black;
}